* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff;
    --bg-button: #e1e1e6;
    --border-svg-fill: #323238;
    --border-selected-fill: #323238;
    --bg-selected-fill: #02799d;
    --color-timer: #323238;
    --bg-svg-fill: #323238;
    --bg-range: #323238;

    font-size: 62.5%;
}

:root .bodyDark {
    --bg-color: #121214;
    --bg-button: #29292e;
    --border-svg-fill: #C4C4CC;
    --border-selected-fill: #ffffff;
    --bg-selected-fill: #0a3442;
    --color-timer: #ffffff;
    --bg-svg-fill: #c4c4cc;
    --bg-range: #ffffff;
}

.theme {
    cursor: pointer;
    position: absolute;
    top: 6rem;
    right: 6rem;
}

body {
    background: var(--bg-color);
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Roboto', sans-serif;
}

.page {
    width: 82rem;
    height: 33.6rem;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-timer {
    margin-top: -3rem;
}

.timer {
    display: flex;
    font-size: 12.7rem;
    line-height: 14.8rem;
    color: var(--color-timer);
}

.buttons-timer {
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
}
.buttons-timer button {
    background: transparent;
    border: none;
    cursor: pointer;

    outline: none;
}

.hide {
    display: none;
}

.buttons-sound {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}

.buttons-sound button {
    display: grid;
    width: 13.8rem;
    height: 15.2rem;
    background: var(--bg-button);
    border-radius: 2.4rem;
    border: none;
    cursor: pointer;

    transition: background 0.3s;

    outline: none;
    position: relative;
    justify-items: center;
}

 .display-button {
    display: grid;
    position: relative;
    justify-items: center;
}


.buttons-sound svg {
    margin-top: 2.4rem;
}

.buttons-timer svg path {
    fill: var(--bg-svg-fill);
}

.buttons-sound svg path {
    fill: var(--border-svg-fill);
}

.page .selectedButton {
    background: var(--bg-selected-fill);
}

.page .selectedFill {
    fill: #ffffff;
}

.page .selectedInput {
    background: #ffffff;
}

.page .selectedBody {
    background: #ffffff;
}

input {
    width: 9rem;
    position: absolute;
    bottom: 3rem;
    -webkit-appearance: none;
    outline: none;
    height: 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background: var(--bg-range);
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: var(--bg-range);
}
